@font-face
	font-family MyriadSetPro-Thin
	font-weight thin
	src url(MyriadSetPro-Thin.eot)
	src url(MyriadSetPro-Thin.eot) format('embedded-opentype'),
	    url(MyriadSetPro-Thin.ttf) format('truetype'),
	    url(MyriadSetPro-Thin.svg) format('svg')

@font-face
	font-family MyriadSetPro-Thin-Italic
	src url(MyriadSetPro-Thin-Italic.eot)
	src url(MyriadSetPro-Thin-Italic.eot) format('embedded-opentype'),
	    url(MyriadSetPro-Thin-Italic.ttf) format('truetype'),
	    url(MyriadSetPro-Thin-Italic.svg) format('svg')

@font-face
	font-family MyriadSetPro-Bold
	src url(MyriadSetPro-Bold.eot)
	src url(MyriadSetPro-Bold.eot) format('embedded-opentype'),
	    url(MyriadSetPro-Bold.ttf) format('truetype'),
	    url(MyriadSetPro-Bold.svg) format('svg')

@font-face
	font-family MyriadSetPro-Bold-Italic
	src url(MyriadSetPro-Bold-Italic.eot)
	src url(MyriadSetPro-Bold-Italic.eot) format('embedded-opentype'),
	    url(MyriadSetPro-Bold-Italic.ttf) format('truetype'),
	    url(MyriadSetPro-Bold-Italic.svg) format('svg')

@font-face
	font-family MyriadSetPro-Semibold
	src url(MyriadSetPro-Semibold.eot)
	src url(MyriadSetPro-Semibold.eot) format('embedded-opentype'),
	    url(MyriadSetPro-Semibold.ttf) format('truetype'),
	    url(MyriadSetPro-Semibold.svg) format('svg')

@font-face
	font-family MyriadSetPro-Semibold-Italic
	src url(MyriadSetPro-Semibold-Italic.eot)
	src url(MyriadSetPro-Semibold-Italic.eot) format('embedded-opentype'),
	    url(MyriadSetPro-Semibold-Italic.ttf) format('truetype'),
	    url(MyriadSetPro-Semibold-Italic.svg) format('svg')

@font-face
	font-family MyriadSetPro-UltraLight-Italic
	src url(MyriadSetPro-UltraLight-Italic.eot)
	src url(MyriadSetPro-UltraLight-Italic.eot) format('embedded-opentype'),
	    url(MyriadSetPro-UltraLight-Italic.ttf) format('truetype'),
	    url(MyriadSetPro-UltraLight-Italic.svg) format('svg')

@font-face
	font-family MyriadSetPro-UltraLight
	src url(MyriadSetPro-UltraLight.eot)
	src url(MyriadSetPro-UltraLight.eot) format('embedded-opentype'),
	    url(MyriadSetPro-UltraLight.ttf) format('truetype'),
	    url(MyriadSetPro-UltraLight.svg) format('svg')

.thin
	font-family MyriadSetPro-Thin, Arial, sans-serif
.thin-italic
	font-family MyriadSetPro-Thin-Italic, Arial, sans-serif
.bold
	font-family MyriadSetPro-Bold, Arial, sans-serif
.bold-italic
	font-family MyriadSetPro-Bold-Italic, Arial, sans-serif
.semibold
	font-family MyriadSetPro-Semibold, Arial, sans-serif
.semibold-italic
	font-family MyriadSetPro-Semibold-Italic, Arial, sans-serif
.ultralight
	font-family MyriadSetPro-UltraLight, Arial, sans-serif
.italic
	font-family MyriadSetPro-UltraLight-Italic, Arial, sans-serif

